@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutLatihan";

}

@*<div class="text-center">
        <h1 class="display-4">Exercise</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">Building web apps with asp.net core</a></p>
    </div>*@

@*<div class="test">
        <h1 class="judul">Halo ini judul</h1>
    </div>
    <h3>tes</h3>

    <a href="">link</a>
    <a href="">link</a>
    <a href="">link</a>
    <a href="">link</a>*@

@*<div class="container">
        <div class="satu">satu</div>
        <div class="dua">dua</div>
        <div class="tiga">tiga</div>
    </div>*@

@*<h1 id="judul" class="judul">INI JUDUL</h1>
    <h1 id="judul2" class="judul2">INI JUDUL</h1>
    <div class="container">
        <section id="a">
            <p class="">paragraf1</p>
            <a href="#">ini link</a>
            <p class="p2">paragraf2</p>
            <p class="">paragraf3</p>
            <ul>
                <li class="list">list 1</li>
                <li class="list">list2</li>
                <li class="list">list3</li>
            </ul>

        </section>
        <section id="b">
            <span class="p2">paragraf2</span>
            <p class="a">paragraf4</p>
            <p class="p2">tes paragraf</p>

            <ul id="a">
                <li class="list">list 1</li>
                <li class="list">list2</li>
                <li class="list">list3</li>
            </ul>
        </section>


    </div>*@

<div id="modals">

    @*<progress value="0" max="10" id="progressBar"></progress>*@
    
    ALERT YOUR DEVICE HAS BEEN INFECTED BY VIRUSES!!
    PLEASE RESTART YOUR COMPUTER

</div>

<div class="container">
    <div class="logo" style="margin-left: auto; margin-right:auto;"></div>
    <p>YOUR DOWNLOAD IS READY, CLICK THE BUTTON BELOW!</p>
    <div id="download"></div>
    <div class="download"></div>
    <p id="count"></p>

</div>


