@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutSbAdmin";

}


<div class="row bg-danger text-white bg-opacity-40 p-10">
    <div class="col-6">
        <p class="text-left">
        <p class="font-weight-bold display-4">
            Media
            pembelajaran
            digital yang
            Anda
            dan tim butuhkan
        </p>
        <br />
        <br />
        Tingkatkan keahlian dan perluas pengetahuan Anda
        di bidang Teknologi Informasi bersama Metrodata Academy,
        media pembelajaran digital penyedia training, webinar, dan workshop bersertifikasi.
        </p>
    </div>
    <p class="col-6">
        <img src="https://i.ibb.co/0YcQb2c/Design.webp" alt="" class="w-100">
    </p>
</div>
<div class="row mt-2">
    <button id="promo" class="btn btn-primary mr-2">Promo</button>
    <button id="event" class="btn btn-success">Event</button>
</div>
<div class="row mt-2">
    <img id="certified" class="img-fluid rounded-0" src="https://i.ibb.co/x6DS9VB/CND-POSTER.jpg" alt="Alternate Text" />
</div>
<div id="maaf" class="row mt-2">
    <p>Mohon maaf untuk saat ini belum ada data yang dapat ditampilkan</p>
</div>
